@media only screen and (min-width: 320px) and (max-width: 767px) {
  section {
    width: 85.078vw;
    margin-left: 14.922vw;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 1.39vw;
  }
  p {
    font-family: "Diagramatika";
    font-size: 3.281vw;
  }
  li {
    font-size: 1.563vw;
    line-height: 1.998vw;
  }
  ul {
    margin-top: 1.953vw;
    margin-left: 1.563vw;
  }

  h2 {
    font-size: 3.7vw;
  }
  .textcenter {
    display: flex;
    justify-content: space-around;
  }
  .logoimg {
    width: 6.094vw;
    margin-top: 1.563vw;
    margin-left: 2.188vw;
  }
  .navbar {
    width: 14.922vw;
    height: 100vh;
    z-index: 1;
    background-color: #feff8b;
    position: fixed;
  }
  .backgroundcover {
    width: 85.078vw;
  }
  .bcimg {
    width: 85.078vw;
    margin-top: -1vw;
  }
  .stg {
    margin-top: -47.25vw;
  }
  .stgimg {
    margin-top: 2vw;
  }

  .sizeimg {
    width: 85.078vw;
  }
  .brand {
    width: 85.078vw;
    margin-left: 14.922vw;
  }
  .brandnead {
    width: 85.078vw;
  }
  .textwhite {
    width: 63.64vw;
    margin-bottom: 10vw;
  }
  .textblue {
    width: 63.64vw;
    margin-bottom: 5vw;
  }
  .backblue {
    background-color: #3c65f6;
  }

  .textcolour {
    margin-bottom: 5vw;

    justify-content: space-around;
  }
  .textcolour1 {
    margin-bottom: 5vw;
    width: 63.64vw;
    display: flex;
    justify-content: space-around;
  }
  .swatches {
    width: 63.64vw;
    display: flex;
    justify-content: space-around;
  }
  .acimg {
    width: 85.078vw;
    margin-top: 2vw;
  }
  .textac {
    margin-bottom: 5vw;
    display: flex;
    justify-content: space-around;
  }
  .imgcenter {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5vw;
  }
  .imgmargin {
    margin-bottom: 5vw;
  }
  .textleft {
    text-align: left;
    width: 63.64vw;
  }
  .textrow {
    align-items: center;
  }
  .nomargin {
    margin-bottom: 0;
  }
  .textflex {
    display: flex;
  }
  .textblock {
    display: block;
    text-align: center;
  }
  .blueblock,
  .greyblock {
    width: 22.578vw;
  }
  .blueratio {
    width: 22.578vw;
    height: 17.813vw;
  }
  .greyratio {
    width: 22.578vw;
    height: 17.813vw;
  }
  .blackratio {
    width: 12.109vw;
    height: 17.813vw;
  }
  .yellowratio {
    width: 6.016vw;
    height: 17.813vw;
  }
}
